# Merging Instacart Data

### This script contains the following points:
1. Merging DataFrame
2. Experting to PKL

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Defining path
path = r'/Users/sina/Desktop/12-2022 Instacart Basket Analysis'

In [3]:
# Importing 'orders_checked.csv' 
df_ords= pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [4]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,999.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [5]:
df_ords = df_ords.drop(df_ords.columns[0], axis = 1)

In [6]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,999.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [7]:
df_ords.shape

(3421083, 6)

In [8]:
# Importing 'order_products__prior.csv'
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [9]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
df_ords_prior.shape

(32434489, 4)

# Merging orders data and orders prior data

In [11]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,999.0,196,1,0,both
1,2539329,1,1,2,8,999.0,14084,2,0,both
2,2539329,1,1,2,8,999.0,12427,3,0,both
3,2539329,1,1,2,8,999.0,26088,4,0,both
4,2539329,1,1,2,8,999.0,26405,5,0,both

In [13]:
df_merged_large.shape

(32434489, 10)

In [14]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting Data in Pickle Format

In [15]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))