### This script contains the following points:
1. Exporting PKL DataFrame 'orders_products_combined.pkl'
2. Anwers to Task 4.6, No. 3-9

In [ ]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [8]:
# Defining path
path = r'/Users/sina/Desktop/12-2022 Instacart Basket Analysis'

In [11]:
# 03. Importing 'orders_products_combined.pkl'
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [10]:
df_ords_prods_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,999.0,196,1,0,both
1,2539329,1,1,2,8,999.0,14084,2,0,both
2,2539329,1,1,2,8,999.0,12427,3,0,both
3,2539329,1,1,2,8,999.0,26088,4,0,both
4,2539329,1,1,2,8,999.0,26405,5,0,both

In [6]:
df_prods = df_prods.drop(df_prods.columns[0], axis = 1)

In [12]:
# 04. Checking the shape of the dataframe
df_ords_prods_comb.shape

(32434489, 10)

#### Yes. It is the same.

In [23]:
# Importing 'products_checked.csv'
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [24]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [26]:
df_prods = df_prods.drop(df_prods.columns[0], axis = 1)

In [27]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [28]:
df_prods.shape

(49672, 5)

In [30]:
# Saving it to 'products_cleaned' for future use
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_cleaned.csv'))

# Merging orders_products_combined data with products data

In [31]:
# Dropping '_merge' column from 'orders_products_combined.pkl'
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['_merge'])

In [32]:
df_ords_prods_comb.shape

(32434489, 9)

In [33]:
# 05. Merging
df_ords_prods_merged = df_ords_prods_comb.merge(df_prods, on = 'product_id', indicator = True)

In [34]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,999.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [35]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [36]:
df_ords_prods_merged.shape

(32404859, 14)

# Exporting Data

In [37]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))