# This file contains following points:
1. Exercise 4.7
2. Answers Task 4.7

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Defining path
path = r'/Users/sina/Desktop/12-2022 Instacart Basket Analysis'

In [3]:
# 03. Importing 'orders_products_combined.pkl'
df_ords_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# Exercise 4.7

In [24]:
df_ords_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,999.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [4]:
df = df_ords_products_merged[:1000000]

In [28]:
df.shape

(1000000, 14)

#### 1. If-Statement using function

In [6]:
# Define a function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
# Apply the function

df['price_range'] = df.apply(price_label, axis=1)

/var/folders/bx/pgf8ksn96xd_3nc77ydj3_0c0000gp/T/ipykernel_2738/93659844.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [31]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [32]:
df['prices'].max()

14.8

#### 2. If-statement using loc()

In [8]:
#. If-Statements with the loc() Function on a subset
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/bx/pgf8ksn96xd_3nc77ydj3_0c0000gp/T/ipykernel_2738/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [9]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [10]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [11]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [20]:
#. If-Statements with the loc() Function on the entire dataframe
df_ords_products_merged.loc[df_ords_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [26]:
df_ords_products_merged.loc[(df_ords_products_merged['prices'] <= 15) & (df_ords_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [24]:
df_ords_products_merged.loc[df_ords_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [27]:
df_ords_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

#### 3. If-statements using For-Loops

In [31]:
df_ords_products_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [74]:
result = []

for value in df_ords_products_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [75]:
df_ords_products_merged['busiest_day'] = result

In [76]:
df_ords_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [38]:
len (result)

32404859

In [39]:
df_ords_products_merged.shape

(32404859, 16)

# Task 4.7

#### Q2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural).
This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [40]:
labeling_counts = df_ords_products_merged['orders_day_of_week'].value_counts(dropna = False)

In [41]:
labeling_counts

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

#### As index in this case is day number and sorted (descending), 2 busiest days (0,1) and 2 slowest days (3,4) are found.

In [77]:
result2 = []

for value in df_ords_products_merged['orders_day_of_week']:
    if value in [0,1]:
        result2.append('Busiest days')
    elif value in [3,4]:
        result2.append('Slowest days')
    else:
        result2.append('Regulary busy days')

In [78]:
# Create a new column in 'df_orders_products_merged' named busiest_days

df_ords_products_merged['busiest_days'] = result2

#### Q3. Check the values of this new column for accuracy. Note any observations in markdown format.

In [79]:
df_ords_products_merged['busiest_days'].value_counts(dropna = False)

Regulary busy days    12916111
Busiest days          11864412
Slowest days           7624336
Name: busiest_days, dtype: int64

#### Q4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [62]:
time_counts = df_ords_products_merged['order_hour_of_day'].value_counts(dropna = False)

In [63]:
time_counts

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [64]:
result3 = []

for value in df_ords_products_merged['order_hour_of_day']:
    if value >= 9 and value <= 16:
        result3.append('Most orders')
    elif value <= 6:
        result3.append('Fewest orders')
    else:
        result3.append('Average orders')

In [65]:
df_ords_products_merged['busiest_period_of_day'] = result3

In [66]:
df_ords_products_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders    10399967
Fewest orders       886821
Name: busiest_period_of_day, dtype: int64

#### Q7. Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [68]:
# Export to PKL
df_ords_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_update.pkl'))